.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start; /* Center content vertically */
  text-align: center;
  padding: 20px 20px; /* Add padding for spacing */
  margin: 0 auto; /* Center horizontally */
  box-sizing: border-box; /* Ensure padding is included in size calculation */
  min-height: auto; /* Remove unnecessary height */
  width: 100%;
  max-width: 800px;
}

.contact-button {
  background-color: #8bc34a; /* Earthy greenish color */
  color: #000; /* Black text color */
  border: none;
  padding: 10px 20px;
  margin: 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Modern font */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Smooth transition */
}

.contact-button:hover {
  background-color: #689f38; /* Darker greenish color on hover */
  color: #fff; /* White text color on hover */
  transform: scale(1.05); /* Expand a little bit on hover */
}

.social-icons {
  margin-top: 20px;
}

.linkedin-icon {
  font-size: 40px;
  color: #0077b5; /* LinkedIn blue color */
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition */
}

.linkedin-icon:hover {
  color: #005582; /* Darker LinkedIn blue color on hover */
}